.step {
    text-align: center;
}

.step h2 {
    max-width: 500px;
    margin: 0 auto;
}

.step__image {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
}

@media (min-width: 576px) {
    .step h2 {
        max-width: 575px;
    }
}

@media (min-width: 768px) {
    .step h2 {
        max-width: 636px;
    }
}

@media (min-width: 992px) {
    .step__image {
        margin-bottom: 40px;
    }
    .step__image img {
        width: 180px;
    }
    .step h2 {
        max-width: 688px;
    }
}

@media (min-width: 1200px) {
    .step__image img {
        width: 200px;
    }
    .step h2 {
        max-width: 770px;
    }
}
