.footer {
    background: var(--body-bg);
}

.footer-line {
    background: var(--line-color);
    height: 1px;
}

.footer-content {
    padding-top: 7px;
    padding-bottom: 12px;
}
.footer-content h5 {
    color: var(--orange-color);
    font-size: 10px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -0.1px;
    margin-bottom: 6px;
}
.footer-content p {
    text-align: justify;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.1px;
}

@media (min-width: 576px) {
    .footer-content {
        padding-top: 10px;
        padding-bottom: 14px;
    }
    .footer-content h5 {
        font-size: 12px;
    }
    .footer-content p {
        font-size: 12px;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .footer-content {
        padding-top: 12px;
        padding-bottom: 16px;
    }
    .footer-content h5 {
        letter-spacing: 0px;
    }
    .footer-content p {
        line-height: 1.4;
        letter-spacing: 0px;
    }
}

@media (min-width: 992px) {
    .footer-content {
        padding-top: 16px;
        padding-bottom: 20px;
    }
    .footer-content h5 {
        font-size: 14px;
    }
    .footer-content p {
        font-size: 14px;
    }
}
